<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
        <link rel="stylesheet" type="text/css" href="assets/style.css">
        <title>camagru</title>
    </head>
    <body>
    <div class="back-image"></div>
         <div class="styles">
        <h1> Welcome to Camagru</h1>
        <p>do you want to go to the<br/><a href="gallery2.php">Gallery</a></p>
        </div>
            <div class="footer">
                <footer>@lmkwanaz</footer>
            </div>
    </body>
</html>